


<div class="d-flex justify-content-center align-items-center m-5">

    <div class="card align-items-center  p-2" style="width: 30rem;">

        <img  width="200px" height="200px" [src]="contact.photo" alt="no image">

        <div class="card-body text-center">
            <h3 class="card-title">{{contact.name}}</h3>
            <h5>Id:-{{contact.id}}</h5>
            <h5>MObile:-{{contact.mobile}}</h5>
            <h5>Email:-{{contact.email}}</h5>
            <h5>Company:-{{contact.company}}</h5>
            <h5>Title:-{{contact.title}}</h5>
            <h5>Group:-{{group}}</h5>
        </div>

    </div>

</div>
