<div class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            
            <!-- page title -->
             
            <h3>All Contact Page
                <a class="btn btn-success ms-5" routerLink="add-contact"> <i class="fa-solid fa-user-plus"></i> Add New</a>

            </h3>
             <!-- content  -->
            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur molestiae nemo omnis praesentium tempore voluptate culpa esse dignissimos? Cumque dolores optio ea aliquid ipsum, molestiae explicabo iste quod totam ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur magni mollitia consequatur eos dolorum, excepturi ut neque a at ipsam nobis dolore alias cupiditate nemo consectetur ea unde deserunt. Impedit? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis architecto enim iusto. Numquam reprehenderit, asperiores dolore reiciendis voluptatibus autem laboriosam, deserunt accusantium ex id molestiae corporis ab ipsam omnis eligendi.
            </p>
            <!-- search content -->
            <div  class="row mt-5">
                <div class="col-lg-2 fw-bolder">
                   Search content 
                </div>
                <div class="col-lg-6">
                    <input  [(ngModel)]="serachkey" placeholder="Type Contact Name Here" type="text" class="form-control me-auto">
                </div>
            </div>

            <!-- loading spinner -->

            <div *ngIf="isLoading && allcontact.length==0" class="text-center mt-5">

                <div class="spinner-border text-primary " role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
    

            </div>

            <!-- error msg div -->

            <div *ngIf="errorMsg"  class="alert alert-danger m-5" role="alert">
                {{errorMsg}}
              </div>

            
        </div>
    </div>
</div>



<!-- contact card  -->

<div class="container mt-5">
    <div class="row" *ngIf="!isLoading && allcontact.length>0">
        <div class="col-lg-6 mb-3"  *ngFor="let contact of allcontact|filter:serachkey:'name'"  >
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center ">
                        <!-- image -->
                        <div class="col-sm-4">
                        <img width="150px" height="150px" [src]="contact.photo" alt="no image">
                        </div>
                        <!-- content -->
                        <div class="col-sm-7">
                        <ul class="list-group">
                            <li class="list-group-item">Name: <span class="fw-bolder">{{contact.name}}</span></li>
                            <li class="list-group-item">Mobile: <span class="fw-bolder">{{contact.mobile}}</span></li>
                            <li class="list-group-item">Email: <span class="fw-bolder">{{contact.email}}</span></li>
                        </ul>

                        </div>
                        <!-- actions -->
                        <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center ">

                            <!-- view -->
                            <a class="btn btn-warning text-light mb-1" routerLink="view-contact/{{contact.id}}"> <i class="fa-solid fa-eye"></i> </a>

                            <!-- edit  -->
                            <a class="btn btn-success text-light mb-1" routerLink="edit-contact/{{contact.id}}"> <i class="fa-solid fa-pen"></i> </a>

                            <!-- delete -->
                            <button (click)=" deleteContact(contact.id)" class="btn btn-danger text-light" href=""> <i class="fa-solid fa-trash"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>